<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <title>rockcodeafrica</title>
    <link rel="shortcut icon" href="~/assets/images/rcafrica-214x93.png" type="image/x-icon">
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <link rel="stylesheet" href="~/assets/web/assets/mobirise-icons/mobirise-icons.css">
    <link rel="stylesheet" href="~/assets/tether/tether.min.css">
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="~/assets/dropdown/css/style.css">
    <link rel="stylesheet" href="~/assets/socicon/css/styles.css">
    <link rel="stylesheet" href="~/assets/theme/css/style.css">
    <link rel="stylesheet" href="~/assets/mobirise/css/mbr-additional.css" type="text/css">
    @*<link rel='stylesheet' id='rockcodeafrica-style-css' href='~/style.css?ver=4.9.6' type='text/css' media='all' />*@
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="~/assets/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="Rockcode" />
    <link rel="canonical" href="rockcodeafrica.org/home/index" />
    <link rel='shortlink' href='rockcodeafrica.org' />

</head>

<body class="page-template page-template-page-home page-template-page-home-php page page-id-45">


    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.4\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.4\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "http:\/\/localhost\/rockcodeafrica\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.6" } };
        !function (a, b, c) { function d(a, b) { var c = String.fromCharCode; l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, a), 0, 0); var d = k.toDataURL(); l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, b), 0, 0); var e = k.toDataURL(); return d === e } function e(a) { var b; if (!l || !l.fillText) return !1; switch (l.textBaseline = "top", l.font = "600 32px Arial", a) { case "flag": return !(b = d([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819])) && (b = d([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]), !b); case "emoji": return b = d([55357, 56692, 8205, 9792, 65039], [55357, 56692, 8203, 9792, 65039]), !b }return !1 } function f(a) { var c = b.createElement("script"); c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var g, h, i, j, k = b.createElement("canvas"), l = k.getContext && k.getContext("2d"); for (j = Array("flag", "emoji"), c.supports = { everything: !0, everythingExceptFlag: !0 }, i = 0; i < j.length; i++)c.supports[j[i]] = e(j[i]), c.supports.everything = c.supports.everything && c.supports[j[i]], "flag" !== j[i] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[j[i]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (h = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", h, !1), a.addEventListener("load", h, !1)) : (a.attachEvent("onload", h), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), g = c.source || {}, g.concatemoji ? f(g.concatemoji) : g.wpemoji && g.twemoji && (f(g.twemoji), f(g.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>

    <style type="text/css">
        .recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }
    </style>
    <div id="page" class="site">
        <a class="skip-link screen-reader-text" href="#content">
            Skip to content
        </a>

        <section class="menu cid-qTkzRZLJNu" once="menu" id="menu1-0">
            <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
                <div class="menu-logo">
                    <div class="navbar-brand">
                        <span class="navbar-logo">
                            <a href="https://rockcodeafrica.org">
                                <img src="~/assets/images/rcafrica-214x93.png" alt="RockCodeAfrica" title="" style="height: 6.7rem;">
                            </a>
                        </span>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                        @*<li class="nav-item"><a asp-area="" asp-controller="Home" class="nav-link link text-white display-4" asp-action="Index">Home</a></li>
                            <li class="nav-item"><a asp-area="" asp-controller="Home" lass="nav-link link text-white display-4" asp-action="">About</a></li>
                            <li class="nav-item"><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>*@
                    </ul>
                    <div class="navbar-buttons mbr-section-btn">
                        <a class="btn btn-sm btn-secondary display-4" href="#">Podcast</a>
                    </div>
                    <div class="navbar-buttons mbr-section-btn">
                        <a class="btn btn-sm btn-secondary display-4" href="#" style="background-color: #fecf62 !important;
    border-color: #fecf62 !important;
    color: #ffffff !important;">Screencast</a>
                    </div>
                    <div class="navbar-buttons mbr-section-btn" >
                        <a class="btn btn-sm btn-secondary display-4" href="https://blog.rockcodeafrica.org" style="background-color: #00d000 !important;
    border-color: #00d000 !important;
    color: #ffffff !important;">Blog</a>
                    </div>
                </div>
            </nav>
        </section>

        <partial name="_CookieConsentPartial" />

                <div class="container-fluid">
            @RenderBody()
             </div>
            <!-- #content -->

            <footer id="colophon" class="site-footer">

                <section once="" class="cid-qVPrbzouZf" id="footer7-9">

                    <div class="container">
                        <div class="media-container-row align-center mbr-white">
                            <div class="row row-links">
                                <ul class="foot-menu">

                                    <li class="foot-menu-item mbr-fonts-style display-7">
                                        <a class="text-white mbr-bold" href="#" target="_blank">About us</a>
                                    </li>
                                    <li class="foot-menu-item mbr-fonts-style display-7">
                                        <a class="text-white mbr-bold" href="#" target="_blank">Services</a>
                                    </li>
                                    <li class="foot-menu-item mbr-fonts-style display-7">
                                        <a class="text-white mbr-bold" href="#" target="_blank">Get In Touch</a>
                                    </li>
                                    <li class="foot-menu-item mbr-fonts-style display-4">
                                    </li>
                                    <li>
                                        <a class="text-white mbr-bold" href="https://github.com/rockcodeafrica" target="_blank">Repos</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="row social-row">
                                <div class="social-list align-right pb-2">

                                    <div class="soc-item">
                                        <a href="https://twitter.com/rockcodeafrica" target="_blank">
                                            <span class="mbr-iconfont mbr-iconfont-social socicon-twitter socicon" style="color: rgb(255, 255, 255);"></span>
                                        </a>
                                    </div>
                                    <div class="soc-item">
                                        <a href="https://www.facebook.com/pages/rockcodeafrica" target="_blank">
                                            <span class="mbr-iconfont mbr-iconfont-social socicon-facebook socicon" style="color: rgb(255, 255, 255);"></span>
                                        </a>
                                    </div>
                                    <div class="soc-item">
                                        <a href="https://www.youtube.com/c/rockcodeafrica" target="_blank">
                                            <span class="mbr-iconfont mbr-iconfont-social socicon-youtube socicon" style="color: rgb(255, 255, 255);"></span>
                                        </a>
                                    </div>
                                    <div class="soc-item">
                                        <a href="https://instagram.com/rockcodeafrica" target="_blank">
                                            <span class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon" style="color: rgb(255, 255, 255);"></span>
                                        </a>
                                    </div>
                                    <div class="soc-item">
                                        <a href="https://github.com/rockcodeafrica" target="_blank">
                                            <span class="mbr-iconfont mbr-iconfont-social socicon-github socicon" style="color: rgb(255, 255, 255);"></span>
                                        </a>
                                    </div>
                                    <div class="soc-item">
                                        <a href="http://web.whatsapp.com" target="_blank">
                                            <span class="mbr-iconfont mbr-iconfont-social socicon-whatsapp socicon" style="color: rgb(255, 255, 255);"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-copirayt">
                                <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">
                                    © Copyright 2018 RockCodeAfrica - All Rights Reserved
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </footer>
            <!-- #colophon -->
            <!-- #page -->
            <script type='text/javascript' src='~/js/navigation.js?ver=20151215'></script>
            <script type='text/javascript' src='~/js/skip-link-focus-fix.js?ver=20151215'></script>
            <script type='text/javascript' src='~/assets/wp-includes/js/wp-emoji-loader.min.js'></script>
            <script src="~/assets/web/assets/jquery/jquery.min.js"></script>
            <script src="~/assets/popper/popper.min.js"></script>
            <script src="~/assets/tether/tether.min.js"></script>
            <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
            <script src="~/assets/smoothscroll/smooth-scroll.js"></script>
            <script src="~/assets/dropdown/js/script.min.js"></script>
            <script src="~/assets/parallax/jarallax.min.js"></script>
            <script src="~/assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js"></script>
            <script src="~/assets/mbr-clients-slider/mbr-clients-slider.js"></script>
            <script src="~/assets/countdown/jquery.countdown.min.js"></script>
            <script src="~/assets/touchswipe/jquery.touch-swipe.min.js"></script>
            <script src="~/assets/theme/js/script.js"></script>
            <style>
                .rockcodeicons {
                    width: 150px;
                }
                .container-fluid {
                    padding-left: 0px;
                    padding-right: 0px;
                    min-width: 100%;
                    max-width: 100%;
                }
            </style>
</body>

</html>
@*<environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>*@
@*@RenderSection("Scripts", required: false)*@