      
        <!-- <div id="content" class="site-content"> -->    <section class="engine">
            <a href="https://rockcodeafrica.org">Africa Arises</a>
        </section>
        <section class="cid-qTkA127IK8 mbr-fullscreen mbr-parallax-background" id="header2-1">


            <div class="mbr-overlay" style="opacity: 0.1; background-color: rgb(118, 118, 118);"></div>

            <div class="container align-center">
                <div class="row justify-content-md-center">
                    <div class="mbr-white col-md-10">
                        <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
                            <br>The Community redefining Geoscience field through computing
                        </h1>

                        <p class="mbr-text pb-3 mbr-fonts-style display-5">
                            we are building africa largest connected geoscience education platform where every community member is a leader and a champion.
                            <br>empowering prospective graduates and graduate with the latest century skillset
                        </p>
                        <div class="mbr-section-btn">
                            <a class="btn btn-md btn-secondary display-4" href="https://publicslack.com/slacks/https-rockcodeafrica-slack-com/invites/new" target="_blank">JOIN THE SLACK CONVERSATION</a>
                            <a class="btn btn-md btn-white-outline display-4" href="https://rockcodeafrica.org">Coming Soon our University Portal</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
                <a href="#next">
                    <i class="mbri-down mbr-iconfont"></i>
                </a>
            </div>
        </section>

        <section class="features1 cid-qVPUckEAO8" id="features1-k">

            <div class="container">
                <div class="media-container-row">

                    <div class="card p-3 col-12 col-md-6 col-lg-4">
                        <div class="card-img pb-3">
                            <span class="">
                                <img src="~/assets/images/aiml.png" alt="" title="" class="rockcodeicons" style="
    max-width: 150px;
">
                            </span>
                        </div>
                        <div class="card-box">
                            <h4 class="card-title py-3 mbr-fonts-style display-5">
                                Machine Learning
                            </h4>
                            <p class="mbr-text mbr-fonts-style display-7"></p>
                        </div>
                    </div>

                    <div class="card p-3 col-12 col-md-6 col-lg-4">
                        <div class="card-img pb-3">
                            <span class="">
                                <img src="~/assets/images/ds.png" alt="" title="" class="rockcodeicons" style="
    max-width: 150px;
">
                            </span>
                        </div>
                        <div class="card-box">
                            <h4 class="card-title py-3 mbr-fonts-style display-5">
                                Data Science
                            </h4>
                            <p class="mbr-text mbr-fonts-style display-7"></p>
                        </div>
                    </div>

                    <div class="card p-3 col-12 col-md-6 col-lg-4">
                        <div class="card-img pb-3">
                            <span class="mbri-responsive mbr-iconfont"></span>
                        </div>
                        <div class="card-box">
                            <h4 class="card-title py-3 mbr-fonts-style display-5">
                                Software Development
                            </h4>
                            <p class="mbr-text mbr-fonts-style display-7"></p>
                        </div>
                    </div>



                </div>

            </div>

        </section>

        <section class="features1 cid-qVPUAlhymq" id="features1-l">

            <div class="container">
                <div class="media-container-row">

                    <div class="card p-3 col-12 col-md-6 col-lg-4">
                        <div class="card-img pb-3">
                            <span class="">
                                <img src="~/assets/images/geophy.png" alt="" title="" class="rockcodeicons" style="
    max-width: 150px;
">
                            </span>
                        </div>
                        <div class="card-box">
                            <h4 class="card-title py-3 mbr-fonts-style display-5">
                                Geophysics
                            </h4>
                            <p class="mbr-text mbr-fonts-style display-7"></p>
                        </div>
                    </div>

                    <div class="card p-3 col-12 col-md-6 col-lg-4">
                        <div class="card-img pb-3">
                            <span class="">
                                <img src="~/assets/images/geology.png" alt="" title="" class="rockcodeicons" style="
    max-width: 150px;
">
                            </span>
                        </div>
                        <div class="card-box">
                            <h4 class="card-title py-3 mbr-fonts-style display-5">
                                Geology
                            </h4>
                            <p class="mbr-text mbr-fonts-style display-7"></p>
                        </div>
                    </div>

                    <div class="card p-3 col-12 col-md-6 col-lg-4">
                        <div class="card-img pb-3">
                            <span class="">
                                <img src="~/assets/images/petrophylog.png" alt="" title="" class="rockcodeicons" style="
    max-width: 150px;
">
                            </span>
                        </div>
                        <div class="card-box">
                            <h4 class="card-title py-3 mbr-fonts-style display-5">
                                Petrophysics
                            </h4>
                            <p class="mbr-text mbr-fonts-style display-7"></p>
                        </div>
                    </div>



                </div>

            </div>

        </section>

     

        <section class="features16 cid-qVOKlfDqdP" id="features16-7">

            <div class="container align-center">
                <h2 class="pb-3 mbr-fonts-style mbr-section-title display-2">
                    AWESOME GEOCODES!!!&nbsp;
                </h2>
                <h3 class="pb-5 mbr-section-subtitle mbr-fonts-style mbr-light display-5"></h3>
                <div class="row media-row">

                    <div class="team-item col-lg-3 col-md-6">
                        <div class="item-image">
                            <img src="~/assets/images/67b274255a-200x200.png" alt="" title="">
                        </div>
                        <div class="item-caption py-3">
                            <div class="item-name px-2">
                                <p class="mbr-fonts-style display-5">
                                    Akinnubi Abiola Sylvester
                                </p>
                            </div>
                            <div class="item-role px-2">
                                <p>NullReferenceException</p>
                            </div>
                            <div class="item-social pt-2">
                                <a href="https://twitter.com/nakinnubis" target="_blank">
                                    <span class="p-1 mbr-iconfont mbr-iconfont-social socicon-twitter socicon" style="color: rgb(0, 208, 0);"></span>
                                </a>
                                <a href="https://www.facebook.com/nakinnubis" target="_blank">
                                    <span class="p-1 mbr-iconfont mbr-iconfont-social socicon-facebook socicon" style="color: rgb(255, 255, 0);"></span>
                                </a>
                                <a href="https://github.com/nakinnubis/" target="_blank">
                                    <span class="p-1 mbr-iconfont mbr-iconfont-social socicon-github socicon" style="color: rgb(20, 85, 165);"></span>
                                </a>
                                <a href="https://www.linkedin.com/in/akinnubiabiolasylvester/" target="_blank">
                                    <span class="p-1 mbr-iconfont mbr-iconfont-social socicon-linkedin socicon" style="color: rgb(255, 51, 102);"></span>
                                </a>
                                <a href="https://www.instagram.com/nakinnubis/" target="_blank">

                                </a>
                                <a href="https://www.youtube.com/" target="_blank">

                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="team-item col-lg-3 col-md-6">
                        <div class="item-image">
                            <img src="~/assets/images/ibrahim-510x510.jpg" alt="" title="">
                        </div>
                        <div class="item-caption py-3">
                            <div class="item-name px-2">
                                <p class="mbr-fonts-style display-5">
                                    Ibrahim Adepoju
                                </p>
                            </div>
                            <div class="item-role px-2">
                                <p>CodeMaficException</p>
                            </div>
                            <div class="item-social pt-2">
                                <a href="https://twitter.com/nakinnubis" target="_blank">
                                    <span class="p-1 mbr-iconfont mbr-iconfont-social socicon-twitter socicon" style="color: rgb(0, 208, 0);"></span>
                                </a>
                                <a href="https://www.facebook.com/pages/nakinnubis" target="_blank">
                                    <span class="p-1 mbr-iconfont mbr-iconfont-social socicon-facebook socicon" style="color: rgb(255, 255, 0);"></span>
                                </a>
                                <a href="https://plus.google.com/u/0/+nakinnubis" target="_blank">
                                    <span class="p-1 mbr-iconfont mbr-iconfont-social socicon-github socicon" style="color: rgb(20, 85, 165);"></span>
                                </a>
                                <a href="https://www.linkedin.com/in/ibrahimadepoju/" target="_blank">
                                    <span class="p-1 mbr-iconfont mbr-iconfont-social socicon-linkedin socicon" style="color: rgb(237, 50, 55);"></span>
                                </a>
                                <a href="https://www.instagram.com/nakinnubis/" target="_blank">

                                </a>
                                <a href="https://www.youtube.com/" target="_blank">

                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="team-item col-lg-3 col-md-6">
                        <div class="item-image">
                            <img src="~/assets/images/sjay-320x319.jpg" alt="" title="">
                        </div>
                        <div class="item-caption py-3">
                            <div class="item-name px-2">
                                <p class="mbr-fonts-style display-5">
                                    Leonard Seun Johnson
                                </p>
                            </div>
                            <div class="item-role px-2">
                                <p>SjayException</p>
                            </div>
                            <div class="item-social pt-2">
                                <a href="https://twitter.com/" target="_blank">
                                    <span class="p-1 mbr-iconfont mbr-iconfont-social socicon-twitter socicon" style="color: rgb(0, 208, 0);"></span>
                                </a>
                                <a href="https://www.facebook.com/" target="_blank">
                                    <span class="p-1 mbr-iconfont mbr-iconfont-social socicon-facebook socicon" style="color: rgb(255, 255, 0);"></span>
                                </a>
                                <a href="https://github.com/" target="_blank">
                                    <span class="p-1 mbr-iconfont mbr-iconfont-social socicon-github socicon" style="color: rgb(20, 85, 165);"></span>
                                </a>
                                <a href="https://www.linkedin.com/in/oluwaseun-leonard-johnson-528084ba/" target="_blank">
                                    <span class="p-1 mbr-iconfont mbr-iconfont-social socicon-linkedin socicon" style="color: rgb(237, 50, 55);"></span>
                                </a>
                                <a href="https://www.instagram.com/nakinnubis/" target="_blank">

                                </a>
                                <a href="https://www.youtube.com/" target="_blank">

                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="clients cid-qVPretrnek" id="clients-a">

            <div class="container mb-5">
                <div class="media-container-row">
                    <div class="col-12 align-center">
                        <h2 class="mbr-section-title pb-3 mbr-fonts-style display-2">
                            These Companies loves us already
                        </h2>
                        <h3 class="mbr-section-subtitle mbr-light mbr-fonts-style display-5"></h3>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="carousel slide" data-ride="carousel" role="listbox">
                    <div class="carousel-inner" data-visible="3">
                        <div class="carousel-item ">
                            <div class="media-container-row">
                                <div class="col-md-12">
                                    <div class="wrap-img ">
                                        <img src="~/assets/images/nocem-416x332.png" class="img-responsive clients-img"
                                             alt="" title="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="media-container-row">
                                <div class="col-md-12">
                                    <div class="wrap-img ">
                                        <img src="~/assets/images/rcafrica-2171x940.png" class="img-responsive clients-img"
                                             alt="" title="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="media-container-row">
                                <div class="col-md-12">
                                    <div class="wrap-img ">
                                        <img src="~/assets/images/prosetikoil-2082x970.png" class="img-responsive clients-img"
                                             alt="" title="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-controls">
                        <a data-app-prevent-settings="" class="carousel-control carousel-control-prev" role="button" data-slide="prev">
                            <span aria-hidden="true" class="mbri-left mbr-iconfont"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a data-app-prevent-settings="" class="carousel-control carousel-control-next" role="button" data-slide="next">
                            <span aria-hidden="true" class="mbri-right mbr-iconfont"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="countdown2 cid-qVODnaGhig" id="countdown2-4">
            <div class="container">
                <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">
                    Rockcodeafrica Learning Portal
                </h2>
                <h3 class="mbr-section-subtitle align-center mbr-fonts-style display-5">
                   
                      <div class=" countdown-cont align-center p-4">
                    <div class="event-name align-left mbr-white ">
                        <h4 class="mbr-fonts-style display-5"> Let the countdown start to our portal launch where you get to learn alot of things
                    <br><div class="countdown align-center py-2" data-due-date="2018/10/01">
                    </div>Watch this space but join our slack community <div class="daysCountdown" title="Days"></div>
                    <div class="hoursCountdown" title="Hours"></div>
                    <div class="minutesCountdown" title="Minutes"></div>
                    <div class="secondsCountdown" title="Seconds"></div>
                    <div class="event-date align-left mbr-white">
                        <h5 class="mbr-fonts-style display-7"></h5>
                    </div></h4>
                    </div>             
                </div>
                </h3>
            </div>
            <!-- <div class="container pt-5 mt-2">
                <div class=" countdown-cont align-center p-4">
                    <div class="event-name align-left mbr-white ">
                        <h4 class="mbr-fonts-style display-5"></h4>
                    </div>
                    <div class="countdown align-center py-2" data-due-date="2018/10/01">
                    </div>
                    <div class="daysCountdown" title="Days"></div>
                    <div class="hoursCountdown" title="Hours"></div>
                    <div class="minutesCountdown" title="Minutes"></div>
                    <div class="secondsCountdown" title="Seconds"></div>
                    <div class="event-date align-left mbr-white">
                        <h5 class="mbr-fonts-style display-7"></h5>
                    </div>
                </div>


            </div> -->
        </section>


   
  